@import "../../../common/styles/mixins";
@import "../../../common/styles/colors";

:host {
  font-size: 1rem;
}

.info {
  padding: px-to-em(20);
  color: color(dark-gray);
  background: color(white-lilac);
  > span {
    font-size: px-to-em(11);
  }

  .new-messages {
    display: flex;
    font-weight: 100;
    align-items: end;
    padding-bottom: px-to-em(10);

    ui-icon,
    span {
      font-size: px-to-em(30);
    }

    .icon {
      padding-right: px-to-em(10);
      display: inline-block;
    }
  }
}
