<div class="info">
  <div class="new-messages">
    <div class="icon"><ui-icon icon="envelope"></ui-icon></div>
    <span>New messages</span>
  </div>
  <span>You have {{model.newMessagesCount}} new messages and {{model.draftMessagesCount}} waiting in draft folder.</span>
</div>
<app-widget-message-item *ngFor="let message of model.messages" [message]="message"></app-widget-message-item>
