@import "../../../common/styles/mixins";
:host {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
}

span {
  font-size: px-to-em(12);
  font-weight: 600;
}
ui-icon {
  &.left {
    margin-right: px-to-em(2);
  }
  &.right {
    margin-left: px-to-em(2);
  }
}
