<div class="card">
  <div class="title">
    <div class="text"><span>{{ title }}</span></div>
    <div class="actions" *ngIf="actions">
      <ng-container [ngTemplateOutlet]="actions"></ng-container>
    </div>
  </div>
  <ng-content></ng-content>
</div>
