@import "../../styles/colors";
@import "../../styles/mixins";
:host {
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
}
.card {
  border: 1px solid color(porcelain);
  background: color(white);
  box-shadow: 0px -2px 0px 0px color(porcelain-dark);
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid color(porcelain);
  padding: px-to-em(12);

  .text {
    color: color(dark-text);
    span {
      font-size: px-to-em(12);
      font-weight: 700;
    }
  }
}
