@import "../../../common/styles/mixins";
@import "../../../common/styles/colors";

:host {
  font-size: 1rem;
  display: inline-flex;
  width: px-to-em(16);
  height: px-to-em(16);
  overflow: hidden;
  user-select: none;
  > * {
    user-select: none;
  }
}
input {
  visibility: hidden;
  position: absolute;
  top: -10000px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: px-to-em(16);
  height: px-to-em(16);
  border-radius: px-to-em(4);
  border: 1px solid color(light-gray);
  background: color(white);
  cursor: pointer;
}

ui-icon {
  color: color(dark-gray);
}
