<div class="wrapper">
  <div class="item" *ngFor="let item of model" [class.completed]="item.completed">
    <ui-checkbox [ngModel]="item.completed" (ngModelChange)="item.completed = $event"></ui-checkbox>
    <span>{{ item.text }}</span>
    <ui-label color="green" *ngIf="item.duration"><ui-icon icon="clock"></ui-icon> mins</ui-label>
  </div>
</div>
