@import "../../../common/styles/mixins";
@import "../../../common/styles/colors";
:host {
  font-size: 1rem;
  display: block;
}

.wrapper {
  padding: px-to-em(20);
}

.item {
  display: flex;
  align-items: center;
  background: color(light-gray);
  height: px-to-em(30);
  padding: 0 px-to-em(10);
  margin-bottom: 2px;
  border-radius: px-to-em(4);
  span {
    font-size: px-to-em(11);
  }
  &.completed {
    span {
      text-decoration: line-through;
    }
  }
}

ui-checkbox {
  margin-right: px-to-em(10);
}
ui-label {
  margin-left: px-to-em(10);
}
