$blue: #1c84c6;
$white: #ffffff;
$black: #000000;
$gray-chateau: #9ca5af;

$colors-map: (
  light-text: $white,
  dark-text: $gray-chateau,
  primary: $blue,

  blue: $blue,
  java: #23c6c8,
  white: $white,
  green: #1ab394,
  red: #ed5565,
  light-gray: #f3f3f4,
  white-lilac: #f3f6fb,
  orange: #f8ac59,
  dark-gray: #7f8287,
  pale-sky: #606670,
  porcelain: #f7f8f9,
  silver-sand: #c4c5c6,
  porcelain-dark: #e9ecee,
  gray-chateau: $gray-chateau
);
$text-colors-map: (
  blue: map-get($colors-map, light-text),
  primary: map-get($colors-map, light-text),
  java: map-get($colors-map, light-text),
  green: map-get($colors-map, light-text),
  red: map-get($colors-map, light-text),
  orange: map-get($colors-map, light-text),
  pale-sky: map-get($colors-map, light-text),
  light-gray: map-get($colors-map, dark-text),
  dark-gray: map-get($colors-map, dark-text),
  white-lilac: map-get($colors-map, dark-text),
  silver-sand: map-get($colors-map, dark-text),
  porcelain: map-get($colors-map, dark-text),
  porcelain-dark: map-get($colors-map, dark-text)
);

@function color($key: 'primary') {
  @return map-get($colors-map, $key);
}

