<ui-card title="Transactions worldwide">
  <ng-template ui-card-header-actions>
    <ui-card-header-actions-bar></ui-card-header-actions-bar>
  </ng-template>
  <app-widget-transactions [model]="model"></app-widget-transactions>
</ui-card>
