@import "../../../common/styles/colors";
@import "../../../common/styles/mixins";
:host {
  width: 100%;
  font-size: 1rem;
  table-layout: fixed;
  border-collapse: collapse;

  ::ng-deep {
    th {
      font-size: px-to-em(12);
      font-weight: 600;
      padding-bottom: px-to-em(5, 12);
      color: color(pale-sky);
      border-bottom: 1px solid color(gray-chateau);
    }
    td {
      font-size: px-to-em(11);
      height: px-to-em(28, 11);
      vertical-align: middle;
      border-bottom: 1px solid color(light-gray);
      color: color(pale-sky);
    }
    tr:last-child td {
      border-bottom: none;
    }
  }
}
