<ui-card title="User project list">
  <ng-template ui-card-header-actions>
    <ui-card-header-actions-bar></ui-card-header-actions-bar>
  </ng-template>
  <app-widget-project-list [model]="model"></app-widget-project-list>
</ui-card>
