@import "../../styles/colors";
@import "../../styles/mixins";

:host {
  display: flex;
}
.button {
  cursor: pointer;
  padding: px-to-em(3) px-to-em(5);
  background: color(white);
  border: 1px solid color(light-gray);
  border-right-width: 0;
  color: color(dark-gray);
  span {
    font-weight: 600;
  }
  &.active {
    box-shadow: inset 0 4px 6px color(light-gray);
  }

  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right-width: 1px;
  }
}

