<div class="header">
  <div class="from">{{ message.from }}</div>
  <div class="ago" [class.last]="message.last">{{ message.ago}}</div>
</div>
<div class="subject">
  <span>{{ message.subject }}</span>
</div>
<div class="datetime">
  <span>{{ message.datetime }}</span>
</div>
