@import "../../../../common/styles/mixins";
@import "../../../../common/styles/colors";

:host {
  font-size: 1rem;
  padding: px-to-em(20) px-to-em(20) 0;
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  color: color(pale-sky);
}

.from {
  font-weight: bold;
  font-size: px-to-em(12);
}

.ago {
  font-weight: 600;
  font-size: px-to-em(11);
  &.last {
    color: color(green);
  }
}

.subject {
  color: color(dark-gray);
  padding-top: px-to-em(3);
  span {
    font-size: px-to-em(12);
  }
}

.datetime {
  color: color(silver-sand);
  padding-top: px-to-em(3);
  padding-bottom: px-to-em(20);
  border-bottom: 1px solid color(light-gray);

  span {
    font-size: px-to-em(11);
  }
}
