<div class="wrapper">
  <table ui-grid>
    <thead>
    <th>No.</th>
    <th>Transaction</th>
    <th>Date</th>
    <th>Amount</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of model">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.date }}</td>
      <td><ui-label [color]="item.lowLevel ? 'orange' : 'green'">{{ item.amount | currency }}</ui-label></td>
    </tr>
    </tbody>
  </table>
  <div class="map">
    <img src="/assets/images/map.png"/>
  </div>
</div>
