@import "../../../common/styles/mixins";
@import "../../../common/styles/colors";
:host {
  font-size: 1rem;
  display: block;
}

.wrapper {
  display: flex;
  padding: px-to-em(20);
}
table {
  margin-right: px-to-em(20);
}

td {
  text-align: center;
}
td:nth-child(2) {
  text-align: left;
}
