@import "../../../common/styles/mixins";
:host {
  font-size: 1rem;
  display: block;
}

.wrapper {
  padding: px-to-em(20);
}

table {
  td+td {
    text-align: center;
  }
}

.datetime {
  display: flex;
  justify-content: center;
}
