<div class="wrapper">
  <table ui-grid>
    <thead>
    <th>
      Status
    </th>
    <th>
      Date
    </th>
    <th>
      User
    </th>
    <th>
      Value
    </th>
    </thead>
    <tbody>
    <tr *ngFor="let project of model">
      <td>
        <ui-status [status]="project.status"></ui-status>
      </td>
      <td>
        <div class="datetime">
          <ui-icon icon="clock"></ui-icon>&nbsp;
          {{ project.date }}
        </div>
      </td>
      <td>
        {{ project.user }}
      </td>
      <td>
        <ui-rate [value]="project.value" [direction]="project.direction" iconPosition="left"></ui-rate>
      </td>
    </tr>
    </tbody>
  </table>

</div>
