@import "../common/styles/colors";
@import "../common/styles/mixins";
@import "../common/styles/media-query";
:host {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: color(light-gray);
  overflow: auto;
  padding-bottom: px-to-em(20);
}

.widgets {
  display: flex;
  width: 100%;
  align-items: baseline;
  
  > app-widget-messages-card {
    flex: 1 1 33%;
    margin: px-to-em(20) 0 0 px-to-em(20);
  }
  > ui-cards-group {
    flex: 1 1 66%;
  }
  @include media("<maxWidth") {
    flex-direction: column;

    > * {
      flex: 1 1 100%;
    }
    > app-widget-messages-card {
      margin-right: px-to-em(20);
    }
  }
}
