<ui-cards-group columns="4">
  <app-widget-statistics-card *ngFor="let model of statistics" [model]="model"></app-widget-statistics-card>
</ui-cards-group>
<ui-cards-group columns="1">
  <ui-card title="Orders">
    <ng-template ui-card-header-actions>
      <ui-toggle [buttons]="{ today: 'Today', monthly: 'Monthly', annual: 'Annual' }" active="today"></ui-toggle>
    </ng-template>
    <app-widget-chart [data]="chartData"></app-widget-chart>
  </ui-card>
</ui-cards-group>
<div class="widgets">
  <app-widget-messages-card [model]="messages">
  </app-widget-messages-card>
  <ui-cards-group columns="2">
    <app-widget-projects-card [model]="projects"></app-widget-projects-card>
    <app-widget-todo-card [model]="todoList"></app-widget-todo-card>
    <app-widget-transactions-card [model]="transactions"></app-widget-transactions-card>
  </ui-cards-group>
</div>


<router-outlet></router-outlet>
