@import "../../../common/styles/colors";
@import "../../../common/styles/mixins";

:host {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

ui-icon {
  color: color(silver-sand);
  padding-right: px-to-em(3);
  cursor: pointer;
  &:hover {
    color: color(dark-gray);
  }
  &:last-child {
    padding-right: 0;
  }
}

ui-icon[icon="angle-up"] {
  font-size: px-to-em(15);
}

ui-icon[icon="times"] {
  font-size: px-to-em(14.5);
}
