@import "../../styles/colors";
@import "../../styles/mixins";

:host {
  display: block;
  font-size: 1rem;
  position: relative;
  box-sizing: border-box;
}

.value {
  span {
    font-size: px-to-em(30);
    color: color(dark-gray);
  }
}
.description {
  > span {
    color: color(dark-gray);
    font-weight: 600;
  }
  position: relative;
}

.rate-indicator {
  position: absolute;
  white-space: nowrap;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.progress {
  margin-top: px-to-em(7);
  height: px-to-em(5);
  border-radius: px-to-em(3);
  overflow: hidden;
  width: 100%;
  background-color: color(light-gray);
  .progress-line {
    height: 100%;
    background-color: color(green);
    border-top-right-radius: px-to-em(3);
    border-bottom-right-radius: px-to-em(3);
  }
}

