<div class="value"><span>{{ model.value | number:'1.3-3' }}</span></div>
<div class="description" *ngIf="model.description"><span>{{ model.description }}</span>
  <div class="rate-indicator">
    <ui-rate [value]="rateValue" [direction]="model.direction" [defaultTextColor]="rateDefaultTextColor"></ui-rate>
  </div>
</div>
<div class="progress" *ngIf="showProgressBar">
  <div class="progress-line" [style.width]="rateValue + '%'"></div>
</div>
