<ui-card title="Messages">
  <ng-template ui-card-header-actions>
    <ui-card-header-actions-bar></ui-card-header-actions-bar>
  </ng-template>
  <app-widget-messages [model]="model"></app-widget-messages>
</ui-card>
