<ui-card [title]="model.name">
  <ng-template ui-card-header-actions>
    <ui-label [color]="model.color">{{ model.type }}</ui-label>
  </ng-template>
  <app-widget-statistics [model]="model"></app-widget-statistics>
</ui-card>
