<ui-card title="Small todo list">
  <ng-template ui-card-header-actions>
    <ui-card-header-actions-bar></ui-card-header-actions-bar>
  </ng-template>
  <app-widget-todo [model]="model"></app-widget-todo>
</ui-card>
