@import "common/styles/colors";
html {
  font-family: sans-serif;
  font-size: 10px;
}

@each $name, $color in $colors-map {
  .color-#{$name} {
    color: $color;
  }
  .#{$name}-bg {
    background: $color;
    color: map_get($text-colors-map, $name);
  }
  .#{$name}-bg-transparent {
    background-color: rgba($color, 0.9);
    color: map_get($text-colors-map, $name);
  }
}


