@import "../../../common/styles/mixins";
@import "../../../common/styles/media-query";

:host {
  font-size: 1rem;
  display: flex;
  padding: px-to-em(20);
}

@include media("<maxWidth") {
  :host {
    flex-direction: column;
  }
}

.chart {
  flex: 1 1 75%;
  img {
    width: 100%;
  }
}

.statistics {
  flex: 1 1 25%;
  padding-left: px-to-em(20);
  > * {
    padding-bottom: px-to-em(10);
    &:last-child {
      padding-bottom: 0;
    }
  }
}

