<div class="chart">
  <img src="/assets/images/chart.png">
</div>
<div class="statistics">
  <app-widget-statistics *ngFor="let model of data.statistics" [model]="model" [showProgressBar]="true" [rateDefaultTextColor]="true">
  </app-widget-statistics>
</div>
