@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/media-query";
:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: transparent;
  padding: 0 1em;

  & > ::ng-deep * {
    flex: 1 1 auto;
    padding: px-to-em(20) px-to-em(10) 0;
  }
  &.cols-1 > ::ng-deep * {
    width: calc(100% / 1);
  }
  &.cols-2 > ::ng-deep * {
    width: calc(100% / 2);
  }
  &.cols-3 > ::ng-deep * {
    width: calc(100% / 3);
  }
  &.cols-4 > ::ng-deep * {
    width: calc(100% / 4);
  }
  @include media("<maxWidth", ">bp1Width") {
    &.cols-1 > ::ng-deep *,
    &.cols-2 > ::ng-deep * {
      width: calc(100% / 1);
    }
    &.cols-3 > ::ng-deep *,
    &.cols-4 > ::ng-deep * {
      width: calc(100% / 2);
    }
  }
  @include media("<bp1Width") {
    &.cols-1 > ::ng-deep *,
    &.cols-2 > ::ng-deep *,
    &.cols-3 > ::ng-deep *,
    &.cols-4 > ::ng-deep * {
      width: calc(100% / 1);
    }
  }
}


